<h1>Users#edit</h1>
<div>
<%# <%= link_to "User", user_path(@user) %>
<h3>
    <%= link_to "Index", root_path %>
</h3>
</div>
<p>Find me in app/views/users/edit.html.erb</p>
<h3> email </h3>
<%= @user.email %>
<div class='form-group'> 
     <%= form_for(@user, :html => {class: "form-horizontal", role: "form"}) do |f| %>
   <div class='control-label col-md-1'>
        <%= f.label :nome %>
    </div>
    <div class='col-md-11'>
        <%= f.text_field :nome, class:'form-control',placeholder:'Nome do Usuário',autofocus: true %>
    </div>  
    <div class='form-group'>
        <div class='col-md-offset-1 col-md-10'>
            <%= f.submit class: 'btn btn-primary btn-lg pull-right' %> 
         </div>
    </div>         
    <% end %>           
</div>
