<h1 class="text-center">User</h1>
<div>
<%# <%= link_to "User", user_path(@user) %>
</div>
<h3> E-mail </h3>
<%= @user.email %>
<br>
<div class='form-group'> 
     <%= form_for(@user, :html => {class: "form-horizontal", role: "form"}) do |f| %>
   <div class='control-label col-md-1'>
        <%= f.label :nome %>
    </div>
    <div class='col-md-11'>
        <%= f.text_field :nome, class:'form-control',placeholder:'Nome do Usuário',autofocus: true %>
    </div>  
    <div class='form-group'>
        <div class='col-md-offset-1 col-md-10'>
            <%= f.submit class: 'btn btn-primary btn-lg pull-right' %> 
         </div>
    </div>         
    <% end %>           
</div>
